        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.ceps.technology"><kbd style="background-color:darkslateblue;">cepS<sub><i>Cloud</i></sub></kbd></a>




    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle btn-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if (sim_core === undefined) { %> 
             <li><a href="#" id="action_add_fibex" >Create Simulation</a></li>
            <% } else { %>
             <li><a href="#" id="action_add_ctrl_panel" onclick="show_ctrl_panel_create_dialog();" >Create Control Panel</a></li>
            <% } %>
          </ul>
        </li>
      </ul>



            </div>
            <!-- /.navbar-header -->

       <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><div style="width:100px">&nbsp;</div></a></li>
      </ul>

<!-- Deleted Top Right Nav -->            
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Home</a>
                        </li>
 <% if (sim_core != undefined) { %>                       
                        <li>
                            <a href="#"><i class="fa fa-exchange"></i> Frames<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
<% sim_core.comm_layer.frames.forEach(function(frame) { %>
                                <li>
                                    <a href="frame.html" > <%= frame.name %><span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <% frame.signals.forEach(function(signal) { %>
                                        <li>
                                            <a href="signaldetails__<%= sim_core.index %>__<%= signal.index %>"><i class="fa fa-signal">&nbsp;</i><%= signal.name %></a>
                                        </li>
                                        <% });%>   
                                    </ul>
                                </li>
<% });%>
  

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

<% if(sim_core.src.views && sim_core.src.views.length) { %>
                        <li>
                            <a href="#"><i class="fa fa-tasks"></i> Control Panels<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
<% sim_core.src.views.forEach(function(panel) { %>
                                <li>
                                    <a href="<%= sim_core.uri %>/controlpanels/<%= panel %>"><%= panel %></a>
                                </li>
<% });%>
                        </li>
<% } %>

                        


                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
<% } %>                   
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

