<% include header %>

 <!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Flot Charts JavaScript -->
<script src="../vendor/flot/excanvas.min.js"></script>
<script src="../vendor/flot/jquery.flot.js"></script>
<script src="../vendor/flot/jquery.flot.pie.js"></script>
<script src="../vendor/flot/jquery.flot.resize.js"></script>
<script src="../vendor/flot/jquery.flot.time.js"></script>
<script src="../vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>

<script type="text/javascript">
 var signal = [];
 var signal_start_plot = 0;
 var signal_end_plot = 0; // [signal_start_plot,signal_end_plot)
 var data_max_points = 100;
 var max_data_max_points = 2000; 
 var data = [ [  ] ];
 var slider_range = 2000;
 var userdefined_range = false;
 var signal_name = "";
 var ws_cmd = undefined;

 $(function() {
    var counter = 0;
    var ws = new WebSocket("<%= signal_ws %>");
    ws_cmd = new WebSocket("<%= sim_core.command_url %>");

    ws_cmd.onopen = function(e){
        console.log('Connection to command server opened.');
    }
    
    ws.onopen = function(e){
        console.log('Connection to server opened.');
        ws.send("<%= signal.name %>");
    }
    ws.onmessage = function(e) {
        var msg = JSON.parse(e.data);
        if (msg["name"]!="<%= signal.name %>") return;
        var ss_old = signal_start_plot;
        var se_old = signal_end_plot;
        var sg_len_old = signal.length;
        var p = [counter,msg["signal"]];
        signal.push(p);
        if (signal_end_plot+1 == signal.length) {
            if (userdefined_range){
                ++signal_start_plot;
            } else {
                if (signal_end_plot + 1 - signal_start_plot > data_max_points) signal_start_plot = signal.length - data_max_points;
            }
            signal_end_plot = signal.length;
        }                
        data[0] = signal.slice(signal_start_plot,signal_end_plot);
        ++counter;               
    }
    function update_plot(){
        $.plot("#placeholder", data/*, options*/);setTimeout(update_plot,1000);
        //$( "#slider-range" ).slider( "values", 0, Math.round((signal_start_plot/signal.length)*slider_range) );
        //$( "#slider-range" ).slider( "values", 1, Math.round((signal_end_plot/signal.length)*slider_range));
        //$( "#amount" ).val( "" +signal_start_plot + " - " + signal_end_plot );
    }

    $('#btn-console').on('click', function (e) {
     let cmd = $('#btn-console-input').val();
     if (ws_cmd != undefined){
         ws_cmd.send(cmd);
         $('#panel-body-terminal-list').append(
             '<li>'+
             //'<span class="chat-img pull-left">'+
             //'<button type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i></button>'+
             //'<button type="button" class="btn btn-info btn-circle"><i class="fa fa-times"></i></button>'+
             //'</span>'+
             '<div class="chat-body clearfix">'+                                       
             '<p><code>'+
             cmd+
             '</code></p>'+
             '</div>'+
             '</li>'
         );
     }
    });

    ws_cmd.onmessage = function(e){
        
        var msg = JSON.parse(e.data);
  
        if (msg.error != 0){
            $('#panel-body-terminal-list').append(
             '<li >'+
             //'<span class="chat-img pull-left">'+
             //'<button type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i></button>'+
             //'<button type="button" class="btn btn-info btn-circle"><i class="fa fa-times"></i></button>'+
             //'</span>'+
             '<div class="chat-body clearfix">'+                                       
             '<div class="alert alert-danger">'+
             msg.result+
             '</div>'+
             '</div>'+
             '</li>'
         );
        } else {
            $('#panel-body-terminal-list').append(
             '<li >'+
             //'<span class="chat-img pull-left">'+
             //'<button type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i></button>'+
             //'<button type="button" class="btn btn-info btn-circle"><i class="fa fa-times"></i></button>'+
             //'</span>'+
             '<div class="chat-body clearfix">'+                                       
             '<div class="alert alert-success">'+
             msg.result+
             '</div>'+
             '</div>'+
             '</li>'
         );          
        }
    }

    setTimeout(update_plot,100);	
});
</script>


<body>
    <div id="wrapper">
        <% include navbar %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Signal <i><%= signal.name %></i></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>            
            <!-- /.row -->
            <div class="row">
                  <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <%= signal.name %>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="placeholder"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                   </div>



<div class="col-lg-4">
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-terminal fa-fw"></i> Terminal
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat" id="panel-body-terminal-list">

                                <!--li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <button type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i></button>
                                        <button type="button" class="btn btn-info btn-circle"><i class="fa fa-times"></i></button>
                                    </span>
                                    <div class="chat-body clearfix">                                        
                                        <p>
                                            1+1.
                                        </p>
                                    </div>
                                </li-->

                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="input-group">
                                <!--input id="btn-console-input" type="text" class="form-control input-sm" placeholder="Type command here..." /-->
                                <textarea id="btn-console-input" type="text" class="form-control input-sm" placeholder="Type command here..."></textarea>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="btn-console">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->

            </div>            
            <!-- /.row -->


        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

   

 

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
