<% include header %>

<body>
    <div id="wrapper">
        <%- include('navbar'); %>
        <div id="page-wrapper">
        <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <h1 class="page-header"><strong><%= sim_core.name %>'s</strong> Main Page</h1>
                </div>
                <div class="col-lg-1"></div>
        </div>

        <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">

                    <div class="list-group">
                       <a href="controlpanel__<%=sim_core.uri%>" class="list-group-item">
                                  Control Panels
                       </a>
                       <a href="doc_canlayer_all__<%=sim_core.uri%>" class="list-group-item">Communication Layer</a>
                    </div>
                    <hr/>
                </div>
                <div class="col-lg-1"></div>
        </div>
        
        <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                 <div class="panel panel-default">
                        <div class="panel-heading"><h2>Behaviours</h2></div>
                        <div class="panel-body"><%- include("../"+sim_nodes_root+"/"+sim_core.src.path+"/" + 'overview') %></div>                 
                </div>
                </div>
                <div class="col-lg-1"></div>
        </div>

          <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10" id="tasks_list">
                </div>
                <div class="col-lg-1"></div>
        </div>
    </div>

<script src="/jquery/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/jquery-ui/jquery-ui.min.js"></script>
<script src="/datatables/js/jquery.dataTables.min.js"></script>
<script src="/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="/datatables-responsive/dataTables.responsive.js"></script>
<script src="/chartjs/Chart.js"></script>
<script src="/bootstrap-notify/bootstrap-notify.js"></script>
<script src="/cepscloud-ui/widget_properties_panel.js"></script>
<script src="/cepscloud-ui/widget_toggle_signal.js"></script>
<script src="/cepscloud-ui/widget_plot_signal.js"></script>
<script src="/cepscloud-ui/persistence.js"></script>

<script>
 function main(){

 }
</script>

<script>
    $(document).ready(function(){
        main();
    });
</script>
</body>

</html>
